/* ALERT MODALS */
.rare-modal {
    background: rgba(255,255,255,.99);
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80%;
    overflow: visible;
    border-radius: 4px;
    transform: translate(-50%, -60%);
}
.rare-modal-content {
    margin-top: 48px;
    position: relative;
    overflow: hidden;
    padding: 0 20px;
}
.rare-modal-title {
    text-align: center;
    margin-bottom: 2vmin;
    font-size: 7vmin;
    line-height: 8vmin;
}
.rare-modal-description {
    text-align: center;
    font-size: 5vmin;
    font-weight: 100;
    line-height: 6vmin;
    margin: 6vmin;
}
.rare-modal-button-container {
    /* TODO: add css here for button wrapper style */
}