/* Empty. Add your own CSS if you like */

/* Imports, need to change later to be pre-compiled */
@import "typography.css";
@import "buttons.css";
@import "forms.css";
@import "modals.css";

/****************************
* COLORS                    *
* #edbe5e   mellow yellow   *
* #ed5f5e   rare red        *
* #4b1039   plum            *
* #3d3c3a   coal            *
* #fcf2db   nude            *
* #a5e6b6   emerald         *
* #80cfc5   seafoam         *
* #9d9c9a   ash             *
****************************/

/* GENERAL */
.gradient-bg {
  background: #cdccca; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#f5f5f5, #ebebeb); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#f5f5f5, #ebebeb); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#f5f5f5, #ebebeb); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#f5f5f5, #ebebeb); /* Standard syntax */
}

/* TOP NAVIGATION */
#top-nav {
  background: rgba(0,0,0,.8);
  width: 100%;
  height: 60px;
  padding: 10px 0;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  -webkit-transform: translate3d(0, 0, 0);
}

#rare-logo h1 {
  line-height: 30px;
  font: 30px !important;
  margin: 0;
}

/* PRODUCT */
#product {
  display: flex;
  justify-content: center;
}
#product-description {
   
}
.product-image {
  overflow-x: visible;
}
.product-image img {
  top: 0;
}

/* MODAL */
.modal-container {
  background: rgba(0,0,0,.6);
  position: absolute;
  overflow: scroll;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 900;
}
.modal {
  background: #fff;
  padding-bottom: 10px;
  position: absolute;
  top: 0px;
}
.modal.centered {
  text-align: center;
}
#signup-login-picker {
  margin-top: 20px;
  text-transform: uppercase;
}
#signup-login-picker.nav-pills > li > a {
  border-radius: 20px;
  border: 1px solid #fdcfce;
  color: #ed5f5e;
}
#signup-login-picker.nav-pills > li > a:hover {
  background: #fdcfce;
  color: #fff;
}
#signup-login-picker.nav-pills > li.active > a {
  background: #ed5f5e;
  border: 1px solid #ed5f5e;
  color: #fff;
}
.close-modal,
.back-button-modal {
  margin: 15px 0 0;
  text-align: left;
}
#signup-login-picker li.active a {
  cursor: default;
}
/* FOOTER */

/* MEDIA QUERY SPECIFIC */
@media (max-width: 767px) {
  .product-image {
    overflow: hidden;
  }
  #product-container {
    margin-top: 10px;
  }
  .product-image img {
    position: relative;
    width: 120%;
    left: -15px;
  }
  .modal-container {
    position: fixed;
    overflow: scroll;
  }
  .modal {
    position: relative;
    width: 100%;
    bottom: 0;
  }
}
@media (min-width: 767px) {
  #product {
    margin-top: 60px;
    height: 520px;
  }
  #product-container {
    align-self: center;
  }
  /* Spacing for signin / signup tabs */
  .nav-justified>li {
    padding: 0 10px;
  }
  .nav-justified>li:first-child {
    padding-left: 0;
  }
  .nav-justified>li:last-child {
    padding-right: 0;
  }
  .product-image {
    height: 580px;
  }
  .product-image img {
    position: absolute;
    right: 30px;
    height: 580px;
  }
  .modal {
    width: 460px;
    margin: 40px auto;
    -webkit-box-shadow: 0px 8px 32px -8px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 8px 32px -8px rgba(0,0,0,0.8);
    box-shadow: 0px 8px 32px -8px rgba(0,0,0,0.8);
    bottom: auto;
  }
  #signup-login-picker.nav-pills > li.active > .down-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 15px 0 15px;
    border-color: #ed5e5e transparent transparent transparent;
    margin: 0 auto;
    -webkit-transform: rotate(360deg);
  }
}
@media (min-width: 992px) {
  #product {
    margin-top: 60px;
    height: 620px;
  }
  .product-image {
    height: 680px;
  }
  .product-image img {
    position: absolute;
    right: 30px;
    height: 680px;
  }
}
