<h3>Confirm Phone Number</h3>
<p class="helper">Enter the confirmation code sent via SMS</p>
<form class="scrollable" autocomplete="off">
    <div class="form-group" ng-class="{'has-error': isConfirmed === false}">
        <input type="number" class="form-control" id="phone-confirmation-number" name="phone-confirmation-number" placeholder="" ng-model="confirmationCode">
        <label for="phone-confirmation-number">Confirmation Code <span class="error-message">Please enter a valid confirmation code</span></label>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <button id="resend-confirmation-code" type="submit" class="btn btn-primary" ng-click="resendCode()">Resend</button>
        </div>
        <div class="col-xs-6">
            <button id="confirm-number" type="submit" class="btn btn-info" ng-disabled="!confirmationCode || isProcessing" ng-click="confirmNumber()">Confirm</button>
        </div>
    </div>
    <div id="resend-confirmation-message" class="alert alert-info" role="alert" style="display: none;">Resending confirmation code to <span class="sent-phone-number"></span></div>
    <loading-display display-text="Confirming phone number" ng-show="isProcessing"></loading-display>
    <p class="helper light">Code sent to <span class="sent-phone-number" ng-bind="phoneNumber | phone"></span></p>
</form>
